@model dotnet_ef_core.DataContext.AssetEntity

@{
    ViewData["Title"] = "Add Asset";
}

<h2>Form Add Asset</h2>

<form asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="Id">Asset Id</label>
        <input asp-for="Id" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="Name">Asset Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Specification">Asset Specification</label>
        <input asp-for="Specification" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="SerialNumber">Aset Serial Number</label>
        <input asp-for="SerialNumber" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="PurchaseYear">Purchase Year</label>
        <input asp-for="PurchaseYear" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}