@model dotnet_ef_core.DataContext.AssetEntity

@{
    ViewData["Title"] = "Asset Edit Data";
}

<h2>Form Edit Asset</h2>

<form asp-action="Update" method="post">
    @*<div class="form-group">
        <label asp-for="Id">Asset Id</label>
        <input asp-for="Id" class="form-control">
    </div>*@
    <input type="hidden" asp-for="Id"/>
    
    <div class="form-group">
        <label asp-for="Name">Asset Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Specification">Asset Specificatio</label>
        <input asp-for="Specification" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="SerialNumber">Asset Serial Number</label>
        <input asp-for="SerialNumber" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="PurchaseYear">Asset Purchase Year</label>
        <input asp-for="PurchaseYear" class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button asp-action="GetAll" class="btn btn-sm btn-success">Back</button>
    </div>
    
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}
