@model dotnet_ef_core.DataContext.RequestEntity
@{
    ViewData["Title"] = "Request Edit Data";
}

<h2>Form Edit Request</h2>

<form asp-action="Update" method="post">
    @*<div class="form-group">
        <label asp-for="Id">Asset ID</label>
        <input asp-for="Id" class="form-control">
    </div>*@
    <input type="hidden" asp-for="Id"/>
    
    <div class="form-group">
        <label asp-for="IdAsset">Asset ID</label>
        <input asp-for="IdAsset" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="PicId">PIC ID</label>
        <input asp-for="PicId" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="SpecificationReq">Specification Request</label>
        <input asp-for="SpecificationReq" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="Necessary">Necessary</label>
        <input asp-for="Necessary" class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button asp-action="GetAll" class="btn btn-sm btn-success">Back</button>
    </div>
    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}